<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add the NuGet package source URL here -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Add additional package sources if needed -->
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="True" />
  </packageManagement>
  <packageSources>
    <add key="CodeArtEng.Gauge" value="https://api.nuget.org/v3/index.json" />
    <add key="ReaLTaiizor" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <package id="CodeArtEng.Gauge" version="3.1.1.100" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.7.9.8" targetFramework="net48" />
</configuration>
